$yellow:#f9ed7c;
$pink:#ffa5db;
$blue:#6bf0ff;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

img {
  display: block;
}

#bg {
  width: 100%;
  height: 100%;
  opacity: 0.9;

  position: absolute;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  max-width: 640px;
  height: 100vh;
  margin: auto;
  position: relative;
}

#title {
  width: 95%;
  margin: auto;
  filter: drop-shadow(0 0 4px #999);
  animation: titleIn 0.5s;
  pointer-events: none;
}

#btn-frame {
  width: fit-content;
  margin: auto;
  animation: btnIn 1s;
}

#aniImg {
  width: 50vh;
  height: 50vh;
  filter: drop-shadow(0 0 8px #fff);
  pointer-events: none;

  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

@keyframes btnIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes titleIn {
  0% {
    width: 0;
    opacity: 0;
  }

  50% {
    width: 0;
    opacity: 1;
  }

  100% {
    width: 95%;
  }
}

@media (max-width:460px) {
  #aniImg {
    width: 100vw;
    height: 100vw;
  }
}