@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

img {
  display: block;
}

.none {
  display: none !important;
}

#bg {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: absolute;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  max-width: 640px;
  height: 100vh;
  margin: auto;
  position: relative;
}

#title {
  width: 95%;
  margin: auto;
  -webkit-filter: drop-shadow(0 0 3px #999);
          filter: drop-shadow(0 0 3px #999);
  -webkit-animation: titleIn 0.5s;
          animation: titleIn 0.5s;
  pointer-events: none;
}

#btn-frame {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -webkit-animation: btnIn 1s;
          animation: btnIn 1s;
}

#btn-frame .btn-index {
  padding: 2px 16px;
  margin: 0 4px;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  background: #6bf0ff;
  border: 3px solid #fff;
  border-radius: 9px;
  -webkit-filter: drop-shadow(1px 1px 1px #ccc);
          filter: drop-shadow(1px 1px 1px #ccc);
  cursor: pointer;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

#btn-frame .btn-index:hover, #btn-frame .btn-index:active {
  background: #ffa5db;
}

#btn-frame .btn-index:nth-child(2), #btn-frame .btn-index:nth-child(3) {
  color: #fff;
  background: transparent;
  border: none;
  padding: 0 4px;
  -webkit-filter: drop-shadow(1px 1px 1px #ccc);
          filter: drop-shadow(1px 1px 1px #ccc);
}

#aniImg {
  width: 50vh;
  height: 50vh;
  -webkit-filter: drop-shadow(0 0 8px #fff);
          filter: drop-shadow(0 0 8px #fff);
  pointer-events: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

#popup-frame {
  width: 100vw;
  height: 100vh;
  background: #ffffff33;
  position: absolute;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#popup-frame .popup {
  width: 90%;
  max-width: 540px;
  height: 50vh;
  background: #fff;
  border: 4px solid #987DFA;
  border-radius: 9px 0 9px 9px;
  position: relative;
  -webkit-filter: drop-shadow(0 0 3px #ccc);
          filter: drop-shadow(0 0 3px #ccc);
}

#popup-frame .close {
  width: 36px;
  height: 24px;
  background: #fff;
  border-radius: 9px 9px 0 0;
  border: 4px solid #987DFA;
  border-bottom: none;
  cursor: pointer;
  position: absolute;
  right: -4px;
  top: -24px;
}

@-webkit-keyframes btnIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes btnIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes titleIn {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 95%;
  }
}

@keyframes titleIn {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 95%;
  }
}

@media (max-width: 460px) {
  #btn-frame .btn-index {
    padding: 1px 12px;
    margin: 0 1px;
    font-size: 30px;
  }
  #aniImg {
    width: 100vw;
    height: 100vw;
    -webkit-filter: drop-shadow(0 0 6px #fff);
            filter: drop-shadow(0 0 6px #fff);
  }
}
